//About

.about {
    padding-top: 105px;
    padding-bottom: 125px;
    background-color: $about-bg-color;

    @media only screen and (max-width: 992px) {
        padding-top: 90px;
        padding-bottom: 100px;
    }

    @media only screen and (max-width: 576px) {
        padding-top: 70px;
        padding-bottom: 90px;
    }
}

.services {
    display: grid;
    grid-template-columns: repeat(4, 190px);
    grid-template-rows: repeat(1, 1fr);
    justify-content: space-between;
    justify-items: center;
    column-gap: 20px;
    @media only screen and (max-width: 992px) {
        grid-template-columns: repeat(2, 190px);
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
        row-gap: 40px;
        column-gap: 60px;
    }

    @media only screen and (max-width: 576px) {
        grid-template-columns: repeat(1, minmax(190px, 300px));
        grid-template-rows: repeat(4, 1fr);
    }

    &__block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__img {
        margin-bottom: 60px;
        @media only screen and (max-width: 992px) {
            margin-bottom: 35px;
            scale: 0.85;
        }

        @media only screen and (max-width: 576px) {
            scale: 1;
        }
    }

    &__name {
        @include bold-headers;
        color: $text-white-color;
        text-transform: uppercase;
        margin-bottom: 12px;
    }

    &__summary {
        @include light-paragraph;
        color: $text-white-color;
        text-align: center;
    }
}
