//Contact

.contact {
    padding-top: 105px;
    padding-bottom: 110px;
    background-color: $contact-bg-color;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__description > * {
        color: $text-white-color;
        text-decoration: underline;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 860px;
        width: 100%;
    }

    &__data {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 30px;
        margin-bottom: 30px;
        width: 100%;
    }

    &__name,
    &__email {
        max-width: 414px;
        width: 100%;
    }

    &__name,
    &__email,
    &__message {
        padding: 15px 23px;
        background-color: $form-bg-color;
        border-radius: 4px;
        color: $text-white-color;

        &::placeholder {
            color: $text-white-color;
        }
    }

    &__message {
        margin-bottom: 60px;
        max-width: 860px;
        width: 100%;
        min-height: 3rem;
        height: 200px;
        resize: vertical;

        @media screen and (max-width: 992px) {
            margin-bottom: 40px;
        }
    }

    &__btn {
        @include button;
        background-color: $button-blue-color;

        &:hover {
            background-color: darken($button-blue-color, 10%);
        }
        &:active {
            background-color: darken($button-blue-color, 15%);
        }
    }
}
