//Footer

.footer {
    background-color: $footer-bg-color;
    padding: 40px 0;

    &__links {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__link {
        @include bold-headers;
        font-weight: 600;
        color: $text-white-color;

        transition: 0.3s color ease-out;

        &:hover {
            color: $button-blue-color;
        }

        &:active {
            color: darken($button-blue-color, 20%);
        }
    }
}
