//Header

.header {
    background-color: $hero-bg-color;
    padding: 60px 0;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        fill: #ffffff;
    }

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 8px;
    }
}
.list {
    &__link {
        padding: 10px 16px;
        border-radius: 3px;
        font-size: 0.889rem;
        text-transform: uppercase;
        color: $text-white-color;
        transition: 0.3s background-color ease-out;

        &:hover {
            background-color: darken($hero-bg-color, 10%);
        }

        &:active {
            background-color: darken($hero-bg-color, 15%);
        }
    }
}
