//Hero

.hero {
    background-color: $hero-bg-color;
    padding-top: 75px;
    padding-bottom: 145px;

    &__block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 26px;
    }

    &__greeting {
        @include bold-headers;
        font-size: 2.333rem;
        color: $text-white-color;

        @media screen and (max-width: 992px) {
            font-size: 2.222rem;
        }
    }

    &__link {
        @include button;
        padding: 20px 80px;
        background-color: $button-orange-color;

        font-weight: 700;

        &:hover {
            background-color: darken($button-orange-color, 10%);
        }
        &:active {
            background-color: darken($button-orange-color, 20%);
        }
    }
}
