//Portfolio

.portfolio {
    padding-top: 105px;
    padding-bottom: 110px;
    background-color: $portfolio-bg-color;
    scroll-margin-top: 100px;

    @media only screen and (max-width: 992px) {
        padding-top: 90px;
        padding-bottom: 100px;
    }

    @media only screen and (max-width: 576px) {
        padding-top: 70px;
        padding-bottom: 90px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title,
    &__description {
        color: $text-black-color;
    }

    &__description {
        margin-bottom: 40px;
    }

    &__select {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
        margin-bottom: 60px;

        @media only screen and (max-width: 576px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            row-gap: 10px;
            margin-bottom: 40px;
        }
    }

    &__button {
        padding: 5px 28px;
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.08);

        @include regular-text;
        color: $text-black-color;

        transition: 0.3s background-color ease-out;
        &._active {
            background-color: #ffffff;
        }
    }

    &__demonstration {
        margin-bottom: 75px;
        @media only screen and (max-width: 992px) {
            margin-bottom: 50px;
        }
    }

    &__projects {
        @include button;
        background-color: $button-green-color;

        &:hover {
            background-color: darken($button-green-color, 5%);
        }
        &:active {
            background-color: darken($button-green-color, 10%);
        }
    }
}
.demonstration {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 50px;

    @media only screen and (max-width: 992px) {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        row-gap: 25px;
    }

    &__img {
        max-width: 541px;
        width: 100%;
        @media only screen and (max-width: 992px) {
            max-width: 400px;
        }
    }

    &__name {
        @include regular-text;
        text-transform: uppercase;
        line-height: normal;
        text-align: center;
    }
}
