//Reviews

.reviews {
    padding-top: 105px;
    padding-bottom: 110px;
    background-color: $reviews-bg-color;

    &__description {
        margin-bottom: 80px;
    }
}

.feedback {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 80px;
    grid-row-gap: 120px;

    @media only screen and (max-width: 992px) {
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        max-width: 60%;
        margin: 0 auto;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        column-gap: 20px;
    }

    &__img {
        aspect-ratio: 1/1;
        max-width: 96px;
        width: 100%;
        border-radius: 50%;
    }

    &__quote {
        @include regular-text;
        font-size: 1.167rem;
        font-style: italic;
        color: $text-white-color;
        margin-bottom: 32px;
        line-height: normal;

        @media only screen and (max-width: 992px) {
            margin-bottom: 10px;
        }
    }

    &__name {
        @include bold-headers;
        text-align: left;
        color: $text-white-color;
    }

    &__position {
        @include regular-text;
        color: $text-yellow-acent-color;
        line-height: normal;
    }
}
