//Skills
.skills {
    padding-top: 105px;
    padding-bottom: 110px;
    background-color: $skills-bg-color;

    &__title,
    &__description {
        color: $text-light-black-color;
    }
}

.progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    @media screen and (max-width: 992px) {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
        row-gap: 40px;
        column-gap: 60px;
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 25px;
        @media screen and (max-width: 992px) {
            row-gap: 0;
        }
    }

    &__bar {
        @media screen and (max-width: 992px) {
            scale: 0.8;
        }

        & > text {
            font-size: 2.778rem;
            font-weight: 300;
            fill: $text-light-black-color;
            transform: rotate(90deg);
        }
    }

    &__name {
        @include bold-headers;
    }
}
