//Team

.team {
    padding-top: 105px;
    padding-bottom: 125px;
    background-color: $team-bg-color;

    &__title,
    &__description {
        color: $text-light-black-color;
    }
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 20px;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 200px;
    }
    &__img {
        aspect-ratio: 1/1;
        max-width: 200px;
        width: 100%;
        border-radius: 50%;
        margin-bottom: 35px;
    }

    &__name {
        @include bold-headers;
        color: $text-light-black-color;
        text-transform: capitalize;
    }

    &__position {
        @include light-paragraph;
        font-weight: 400;
        text-align: center;
        color: $text-blue-acent-color;
        margin-bottom: 9px;
    }

    &__summary {
        @include light-paragraph;
        text-align: center;
        color: $text-light-black-color;
        margin-bottom: 40px;
    }

    &__links {
        display: flex;
        column-gap: 12px;
        & > a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;
            background-color: #bdd1df;
            border-radius: 50%;
            transition: 0.3s background-color ease-out;

            &:hover {
                background-color: darken(#bdd1df, 10%);
            }

            &:active {
                background-color: darken(#bdd1df, 20%);
            }

            & > * {
                fill: #ffffff;
            }
        }
    }
}
