//Team

.team {
    padding-top: 105px;
    padding-bottom: 125px;
    background-color: $team-bg-color;

    @media only screen and (max-width: 992px) {
        padding-top: 90px;
        padding-bottom: 100px;
    }

    @media only screen and (max-width: 576px) {
        padding-top: 70px;
        padding-bottom: 90px;
    }

    &__title,
    &__description {
        color: $text-light-black-color;
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(1, 1fr);
    justify-content: space-between;
    justify-items: center;
    column-gap: 20px;
    @media only screen and (max-width: 992px) {
        grid-template-columns: repeat(2, 200px);
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
        row-gap: 40px;
        column-gap: 60px;
    }

    @media only screen and (max-width: 576px) {
        grid-template-columns: repeat(1, minmax(200px, 300px));
        grid-template-rows: repeat(4, 1fr);
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__img {
        aspect-ratio: 1/1;
        max-width: 200px;
        border-radius: 50%;
        margin-bottom: 35px;
        @media only screen and (max-width: 992px) {
            max-width: 150px;
            margin-bottom: 15px;
        }

        @media only screen and (max-width: 576px) {
            max-width: 200px;
        }
    }

    &__name {
        @include bold-headers;
        color: $text-light-black-color;
        text-transform: capitalize;
    }

    &__position {
        @include light-paragraph;
        font-weight: 400;
        text-align: center;
        color: $text-blue-acent-color;
        margin-bottom: 9px;
    }

    &__summary {
        @include light-paragraph;
        text-align: center;
        color: $text-light-black-color;
        margin-bottom: 40px;

        @media only screen and (max-width: 992px) {
            margin-bottom: 15px;
        }
    }

    &__links {
        display: flex;
        column-gap: 12px;
        & > a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;
            background-color: #bdd1df;
            border-radius: 50%;
            transition: 0.3s background-color ease-out;

            &:hover {
                background-color: darken(#bdd1df, 10%);
            }

            &:active {
                background-color: darken(#bdd1df, 20%);
            }

            & > * {
                fill: #ffffff;
            }
        }
    }
}
