$hero-bg-color: #87509c;
$about-bg-color: #17c2a4;
$team-bg-color: #e7f1f8;
$skills-bg-color: #ffffff;
$portfolio-bg-color: #ffdd99;
$reviews-bg-color: #d74680;
$contact-bg-color: #3c5499;
$footer-bg-color: #344b8e;
$form-bg-color: #273a71;
$text-black-color: #393939;
$text-light-black-color: #3c4761;
$text-white-color: #ffffff;
$text-blue-acent-color: #30bae7;
$text-yellow-acent-color: #ffdd99;
$button-orange-color: #eb7d4b;
$button-green-color: #17c2a4;
$button-blue-color: #30bae7;

@mixin button {
    $bgcolor: background-color;
    padding: 20px 60px;
    border-radius: 4px;
    box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.15);

    color: $text-white-color;
    font-size: 1rem;
    font-weight: 600;

    transition: background-color 0.3s ease-out;
}

@mixin section-title {
    font-size: 2.222rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: $text-white-color;
    position: relative;
    margin-bottom: 25px;

    @media screen and (max-width: 992px) {
        font-size: 2.111rem;
    }

    &::after {
        content: "";
        width: 87px;
        height: 4px;
        background-color: rgba(0, 0, 0, 0.15);

        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 50px;
    }
}

@mixin section-description {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    color: $text-white-color;
    line-height: normal;
    margin-bottom: 70px;
    @media screen and (max-width: 992px) {
        margin-bottom: 40px;
    }
}

@mixin bold-headers {
    font-size: 1.333rem;
    @media screen and (max-width: 992px) {
        font-size: 1.222rem;
    }
    font-weight: 700;
    text-align: center;
    line-height: normal;
}

@mixin regular-text {
    font-size: 1rem;
    font-weight: 400;
}

@mixin light-paragraph {
    font-size: 0.889rem;
    font-weight: 300;
    line-height: normal;
}
