@import "nullstyle";
@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");

html {
    font-family: "Titillium Web", sans-serif;
    font-size: 18px;
    font-weight: 400;
    scroll-behavior: smooth;
}

body {
    height: auto;
    &._lock {
        overflow: hidden;
    }
}

[class*="__container"] {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 20px;
    @media only screen and (max-width: 992px) {
        padding: 0 40px;
    }
}

[class*="__title"] {
    @include section-title;
}

[class*="__description"] {
    @include section-description;
}

@import "header";
@import "hero";
@import "about";
@import "team";
@import "skills";
@import "portfolio";
@import "reviews";
@import "contact";
@import "footer";
