@import "nullstyle";
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html,
body {
    font-family: "Titillium Web", sans-serif;
    font-size: 18px;
    font-weight: 400;
    scroll-behavior: smooth;
}

[class*="__container"] {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 20px;
}

[class*="__title"] {
    font-size: 2.222rem;
    font-weight: 700;
    text-align: center;
    position: relative;
    margin-bottom: 25px;
}

[class*="__title"]::after {
    content: "";
    width: 87px;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.15);

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
}

[class*="__description"] {
    text-align: center;
    line-height: normal;
    margin-bottom: 70px;
}

@import "header";
@import "hero";
@import "about";
@import "team";
@import "skills";
@import "portfolio";
@import "reviews";
@import "contact";
